@using cntr = My.Demo.FileUpload.Web.BannerController
@model ListBannerModel

@{
    ViewData["Title"] = "Banners";
}

<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h4>Banners</h4>
            </div>
            <div class="col-auto">
                <a href="@Url.Action(cntr.ActionEdit, cntr.Name)" class="btn btn-secondary">Add</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="10%" class="text-center">#</th>
                    <th scope="col">Title</th>
                    <th scope="col" width="15%" class="text-center">Tools</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (BannerModel item in Model.Banners)
                {
                    string url = Url.Action(cntr.ActionEdit, cntr.Name, new { id = item.BannerId.Value });
                    <tr>
                        <th scope="row" class="text-center">@(index++)</th>
                        <td>@item.Title</td>
                        <td class="text-center">
                            <a href="@url">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>