@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h1>File upload</h1>
    <input id="fileupload" type="file" name="files[]" multiple>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function(){
        $('#fileupload').fileupload(
        {
            url: '@Url.Action(FileController.ActionUpload, FileController.Name)',
            type: 'post'
        })
        .on('fileuploadadd', function (e, data) { /*console.log('fileuploadadd', data);*/ })
        .on('fileuploadsubmit', function (e, data) { /*console.log('fileuploadsubmit', data);*/ })
        .on('fileuploadsend', function (e, data) { /*console.log('fileuploadsend', data);*/ })
        .on('fileuploaddone', function (e, data) { console.log('fileuploaddone', data.result); })
        .on('fileuploadfail', function (e, data) {/* ... */})
    });
</script>
}